.font-link {
   font-family: 'Hanalei Fill', cursive;
 }

 .tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}
/* src/index.css */
@import "tailwindcss";

/* (optional minor defaults) */
html, body, #root {
  height: 100%;
}
